// Typography
$icon-font-path: "fonts/bootstrap/";
$font-family-sans-serif: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
// Brand colors
$brand-primary: #4f8edd;
$brand-success: #85c844;
$brand-warning: #cba50d;
$brand-danger: #e72c3c;
$brand-info: #2bbce1;
// Navbar
$navbar-height: 40px;
$navbar-inverse-bg: #313338;
// Buttons
$btn-font-weight: 600;
$btn-default-bg: #e6e7e7;
$btn-default-border: #e6e7e7;
// Alerts and form states
$state-success-text: #527f26;
$state-success-bg: #ebf6e1;
$state-success-border: #b8df92;
$state-info-text: #157890;
$state-info-bg: #ddf4fb;
$state-info-border: #84d8ed;
$state-warning-text: #917608;
$state-warning-bg: #fbf3d0;
$state-warning-border: #f6dc6f;
$state-danger-text: #a81515;
$state-danger-bg: #fdf2f2;
$state-danger-border: #f29797;
// Forms
$input-border-radius: 0;
$input-border-focus: #2598f9;

@import '../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

//override

// Unicode space added since inline-block means non-collapsing white-space
.breadcrumb > li ~ li:before {
    content: "#{$breadcrumb-separator}";
    padding: 0 5px;
    color: $breadcrumb-color;
}
html, body {
    height: 100%;
}
// Needed to make sticky footer work with Ember
.ember-view {
    position: relative;
    height: 100%;
}
body {
    padding-top: 60px;
}
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    
    margin: 0 auto -120px;
    /* Pad bottom by footer height */
    
    // I am using 140px instead of 120px to give some room between #wrap and #footer
    // Otherwise footer will be almost touching your page content
    padding: 0 0 140px;
}
.alert {
    border-radius: 1px;
}
.form-control:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}
.navbar-brand {
    // background-image: url(/img/mongodb-leaf.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: left center;
    padding-left: 40px;
    margin-left: 15px;
}
.btn {
    padding: 8px 16px;
    border-width: 0;
    border-radius: 1px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.09);
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    .container {
        max-width: 96%;
    }
    /* Remove the padding we set earlier */
    
    .header, .marketing, .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    
    .jumbotron {
        border-bottom: 0;
    }
}
#sandbox {
    height: 500px;
    display: none;
}
#sandbox iframe {
    width: 100%;
}
.unselectable {
    user-select: none;
}

.font-control pre, .font-control textarea {
    font-size: 20px!important;
}
